<!-- Stylesheet -->
<link rel="stylesheet" href="css/admin.css">

<!-- Icon -->
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css'>

<!DOCTYPE html>
<html lang="en" dir="ltr">

<header>
    <h1> -- Admin Login Portal -- </h1>
</header>

<body>
    <div class="bg_img"></div>
    <div class="box-container">
        <div class="form">
            <div class="screen">
                <form class="login">
                    <div class="login__field">
                        <i class="login__icon fas fa-user"></i>
                        <input type="text" class="login__input" placeholder="Admin ID">
                    </div>
                    <div class="login__field">
                        <i class="login__icon fas fa-lock"></i>
                        <input type="password" class="login__input" placeholder="Password">
                    </div>
                    <button class="button login__submit">
                        <span class="button__text">Log In</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>
                </form>
            </div>
        </div>

</body>

</html>